html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This makes the main content grow to fill the space, pushing the footer down */
}

footer {
  background-color: #333; /* Your desired footer color */
  color: white; /* Your desired text color */
  text-align: center;
  padding: 20px 0;
}

header{
  padding: 20px;
  background: cornsilk;
}

header a {
  margin-right: 15px;
}
header a:last-child {
  margin-right: 0;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: block;
}